body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  justify-content: center;
}
.container {
  width: 370px;
  display: flex;
  flex-direction: column;
}
.header,
.footer {
  height: 124px;
  width: 370px;
  border: 1px solid black;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}
.header { margin-top: 10px; }
.footer { margin-bottom: 10px; }
.header-name {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
}
.navi-buttons {
  display: flex;
}
.navi-theme-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.navi-theme-container>button {
  width: 30%;
  height: 47%;
  display: flex;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #fff;
}
.navi-theme-container button:hover,
.navi-post button:hover {
  box-shadow: 0px 0px 15px 5px rgb(40, 0, 0);
}
.navi-post {
  width: 20%;
  display: flex;
  align-items: center;
}
.navi-post button {
  height: 1.6rem;
}

.main {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-container {
  width: 370px;
  height: 132px;
  border-radius: 0.25rem;
}
.post-container:nth-child(odd) {
  background-color: gainsboro;
}
.post-content {
  margin: 25px 40px;
}
::-webkit-scrollbar {
    display: none;
}
.post-title {
  font-size: 1.5rem;
  display: flex;
  margin: 10px 25px 0 25px;
}
.title {
  width: 70%;
}
.theme {
  width: 30%;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.content {
  cursor: pointer;
}
.content-clamp {
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  padding: 10px 40px 10px 40px;
}
.content-clamp:hover {
  box-shadow: 0px 0px 15px 10px rgb(240, 240, 240);
  border-radius: 0.25rem;
  transform: scale(1.1);
  background-color: white;
}
.content-clamp div {
  overflow: hidden;
}

.post-container-open {
  width: 370px;
  border-radius: 0.25rem;
}
.content-clamp-open {
  font-size: 0.9rem;
  padding: 10px 40px 20px 40px;
  cursor: pointer;
}
.content-clamp-open:hover {
  box-shadow: 0px 0px 15px 10px rgb(240, 240, 240);
  border-radius: 0.25rem;
}

.form {
  margin-top: 25px;
}

.no-post {
  margin: 25px 0;
  width: 370px;
  font-size: 2rem;
}
/* *********************
     media queries
*********************** */

@media only screen and (min-width: 576px) {
  .container,
  .header, .footer,
  .main,
  .post-container,
  .post-container-open,
  .no-post {
    width: 572px;
  }
}
@media only screen and (min-width: 768px) {
  .container,
  .header, .footer,
  .main,
  .post-container,
  .post-container-open,
  .no-post {
    width: 760px;
  }
  .header, .footer {
    height: 85px;
  }
  .navi-theme-container {
    width: 90%;
    padding-top: 10px;
  }
  .navi-post {
    width: 10%;
  }
  .navi-theme-container>button {
    width: 11%;
  }
}
@media only screen and (min-width: 992px) {
  .header, .footer {
    width: 986px;
    align-self: center;
  }
}
@media only screen and (min-width: 1200px) {
  .header, .footer {
    width: 1190px;
  }
  .navi-post {
    justify-content: center;
  }
}
