body {
  box-sizing: border-box;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header,
.footer {
  height: 80px;
  width: 900px;
  border: 1px solid black;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}
.header { margin-top: 10px; }
.footer { margin-bottom: 10px; }
.header-name {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.navi-buttons {
  display: flex;
}
.navi-theme-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}
.navi-theme-container>button {
  width: 12%;
  height: 1.6rem;
  display: flex;
  border-radius: 5rem;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #fff;
}
.navi-theme-container button:hover,
.navi-post button:hover {
  box-shadow: 0px 0px 15px 5px rgb(40, 0, 0);
}
.navi-post {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navi-post button {
  height: 1.6rem;
}

.main {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-container {
  width: 500px;
  height: 132px;
  border-radius: 0.25rem;
}
.post-container:nth-child(odd) {
  background-color: gainsboro;
}
.post-content {
  margin: 25px 40px;
}
::-webkit-scrollbar {
    display: none;
}
.post-title {
  font-size: 2rem;
  display: flex;
  margin: 10px 25px 0 25px;
}
.title {
  width: 70%;
}
.theme {
  width: 30%;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.content {
  cursor: pointer;
}
.content-clamp {
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  padding: 10px 40px 10px 40px;
}
.content-clamp:hover {
  box-shadow: 0px 0px 15px 10px rgb(240, 240, 240);
  border-radius: 0.25rem;
  transform: scale(1.1);
  background-color: white;
}
.content-clamp div {
  overflow: hidden;
}

.post-container-open {
  width: 500px;
  border-radius: 0.25rem;
}
.content-clamp-open {
  font-size: 0.9rem;
  padding: 10px 40px 20px 40px;
  cursor: pointer;
}
.content-clamp-open:hover {
  box-shadow: 0px 0px 15px 10px rgb(240, 240, 240);
  border-radius: 0.25rem;
}

.form {
  margin-top: 25px;
}

.no-post {
  margin: 25px 0;
  width: 500px;
  font-size: 2rem;
}
